/*
	COLOR
*/


// black and white
$white:    		#fff;
$gray-100: 		#f8f9fa;
$gray-200: 		#e9ecef;
$gray-300: 		#dee2e6;
$gray-400: 		#ced4da;
$gray-500: 		#adb5bd;
$gray-600: 		#6c757d;
$gray-700: 		#495057;
$gray-800: 		#343a40;
$gray-900: 		#212529;
$black:    		#000;

// color
$black:			#000;
$white:			#FFF;
$brown:			#795548;
$grey:			#9E9E9E;
$blue-grey: 	#607D8B;
$blue:			#2196F3;
$cyan:			#00BCD4;
$teal:			#009688;
$green:			#4CAF50;
$light-green:	#8BC34A;
$lime:			#CDDC39;
$yellow:		#FFEB3B;
$amber:			#FFC107;
$orange:		#FF9800;
$deep-orange:	#FF5722;
$red:			#F44336;
$pink:			#E91E63;
$purple:		#9C27B0;
$deep-purple:	#673AB7;
$ndigo:			#3F51B5;

