/* Welcome Grid! */

/*.container{max-width: $main-max-width; margin: 0 auto;}*/
.row + .row, 
.grid + .grid{margin-top: $grid-gutter-width;}

.row.fixedSpaces + .row.fixedSpaces, 
.grid.fixedSpaces + .grid.fixedSpaces{margin-top: $grid-gutter-width-fix;}

.row.fixedMinSpaces + .row.fixedMinSpaces, 
.grid.fixedMinSpaces + .grid.fixedMinSpaces{margin-top: $grid-gutter-width / 2.5;}

.row.noSpaces + .row.noSpaces, 
.grid.noSpaces + .grid.noSpaces{margin-top: 0;}

.row, 
.grid {
	margin-left: -$grid-gutter-width;
	margin-right: -$grid-gutter-width;
	display: flex;
	flex-wrap: wrap;

	/* default spaces */
	& > [class*='col-'] {
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}

	&.noSpaces {
		margin-left: -$grid-gutter-width / 2;
		margin-right: -$grid-gutter-width / 2;

		>[class*='col-'] {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.fixedMinSpaces {
		margin-left: -$grid-gutter-width / 10;
		margin-right: -$grid-gutter-width / 10;

		>[class*='col-'] {
			padding-left: $grid-gutter-width / 5;
			padding-right: $grid-gutter-width / 5;
		}
	}

	&.fixedSpaces {
		margin-left: -$grid-gutter-width-fix;
		margin-right: -$grid-gutter-width-fix;

		>[class*='col-'] {
			padding-left: $grid-gutter-width-fix / 2;
			padding-right: $grid-gutter-width-fix / 2;
		}
	}

	.toLeft[class*='col-'] {
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	.toRight[class*='col-'] {
		margin-right: 0 !important;
		margin-left: auto !important;
		float: right;
	}

	.toCenter[class*='col-'] {
		margin-left: auto !important;
		margin-right: auto !important;
	}

}

// defaul grid
@for $i from 1 through $grid-columns {
	$width: (100% / $grid-columns) * $i;

	.row > .col-#{$i},
	.grid > .col-#{$i} {
		width: $width;
	}
}

// 10 col
@for $i from 1 through 20 {
	$width: (100% / 20) * $i;

	.row > .col-#{$i*5}-100,
	.grid > .col-#{$i*5}-100 {
		width: $width;
	}
}
