
@import url('https://fonts.googleapis.com/css?family=$main-font-family-google:100,300,400,500,700,900&subset=cyrillic');

html, body{font: $main-font-size+px/$main-line-height $main-font-family;}



.italic{font-style: italic;}

/*
.w900{position: relative;}
.w900:after{content: ""; position: absolute; right: 80%; width: 100vw; height: 1px; background: #f00; top: 100%;}

.hero .w900:after{margin: -14px 0 0;}
.h1 .w900:after{margin: -13px 0 0;}
.h2 .w900:after{margin: -12px 0 0;}
.h3 .w900:after{margin: -11px 0 0;}
.h4 .w900:after{margin: -8px 0 0;}
.h5 .w900:after{margin: -8px 0 0;}
.h6 .w900:after{margin: -8px 0 0;}
*/


/* Color */
.tBlack{color: #000;}
.tWhite{color: #FFF;}
.tBrown{color: #795548;}
.tGrey{color: #9E9E9E;}
.tBlueGrey{color: #607D8B;}
.tBlue{color: #2196F3;}
.tCyan{color: #00BCD4;}
.tTeal{color: #009688;}
.tGreen{color: #4CAF50;}
.tLightGreen{color: #8BC34A;}
.tLime{color: #CDDC39;}
.tYellow{color: #FFEB3B;}
.tAmber{color: #FFC107;}
.tOrange{color: #FF9800;}
.tDeepOrange{color: #FF5722;}
.tRed{color: #F44336;}
.tPink{color: #E91E63;}
.tPurple{color: #9C27B0;}
.tDeepPurple{color: #673AB7;}
.tIndigo{color: #3F51B5;}

/* Color */
.bBlack{background: #000;}
.bWhite{background: #FFF;}

.bRed.t50{background: #FFEBEE;}
.bRed.t100{background: #FFCDD2;}
.bRed.t200{background: #EF9A9A;}
.bRed.t300{background: #E57373;}
.bRed.t400{background: #EF5350;}
.bRed, 
.bRed.t500{background: #F44336;}
.bRed.t600{background: #E53935;}
.bRed.t700{background: #D32F2F;}
.bRed.t800{background: #C62828;}
.bRed.t900{background: #B71C1C;}

.bPink.t50{background: #FCE4EC;}
.bPink.t100{background: #F8BBD0;}
.bPink.t200{background: #F48FB1;}
.bPink.t300{background: #F06292;}
.bPink.t400{background: #EC407A;}
.bPink, 
.bPink.t500{background: #E91E63;}
.bPink.t600{background: #D81B60;}
.bPink.t700{background: #C2185B;}
.bPink.t800{background: #AD1457;}
.bPink.t900{background: #880E4F;}

.bPurple.t50{background: #F3E5F5;}
.bPurple.t100{background: #E1BEE7;}
.bPurple.t200{background: #CE93D8;}
.bPurple.t300{background: #BA68C8;}
.bPurple.t400{background: #AB47BC;}
.bPurple, 
.bPurple.t500{background: #9C27B0;}
.bPurple.t600{background: #8E24AA;}
.bPurple.t700{background: #7B1FA2;}
.bPurple.t800{background: #6A1B9A;}
.bPurple.t900{background: #4A148C;}

.bDeepPurple.t50{background: #EDE7F6;}
.bDeepPurple.t100{background: #D1C4E9;}
.bDeepPurple.t200{background: #B39DDB;}
.bDeepPurple.t300{background: #9575CD;}
.bDeepPurple.t400{background: #7E57C2;}
.bDeepPurple, 
.bDeepPurple.t500{background: #673AB7;}
.bDeepPurple.t600{background: #5E35B1;}
.bDeepPurple.t700{background: #512DA8;}
.bDeepPurple.t800{background: #4527A0;}
.bDeepPurple.t900{background: #311B92;}

.bIndigo.t50{background: #E8EAF6;}
.bIndigo.t100{background: #C5CAE9;}
.bIndigo.t200{background: #9FA8DA;}
.bIndigo.t300{background: #7986CB;}
.bIndigo.t400{background: #5C6BC0;}
.bIndigo, 
.bIndigo.t500{background: #3F51B5;}
.bIndigo.t600{background: #3949AB;}
.bIndigo.t700{background: #303F9F;}
.bIndigo.t800{background: #283593;}
.bIndigo.t900{background: #1A237E;}

.bBlue.t50{background: #E3F2FD;}
.bBlue.t100{background: #BBDEFB;}
.bBlue.t200{background: #90CAF9;}
.bBlue.t300{background: #64B5F6;}
.bBlue.t400{background: #42A5F5;}
.bBlue, 
.bBlue.t500{background: #2196F3;}
.bBlue.t600{background: #1E88E5;}
.bBlue.t700{background: #1976D2;}
.bBlue.t800{background: #1565C0;}
.bBlue.t900{background: #0D47A1;}

.bLightBlue.t50{background: #E1F5FE;}
.bLightBlue.t100{background: #B3E5FC;}
.bLightBlue.t200{background: #81D4FA;}
.bLightBlue.t300{background: #4FC3F7;}
.bLightBlue.t400{background: #29B6F6;}
.bLightBlue, 
.bLightBlue.t500{background: #03A9F4;}
.bLightBlue.t600{background: #039BE5;}
.bLightBlue.t700{background: #0288D1;}
.bLightBlue.t800{background: #0277BD;}
.bLightBlue.t900{background: #01579B;}

.bCyan.t50{background: #E0F7FA;}
.bCyan.t100{background: #B2EBF2;}
.bCyan.t200{background: #80DEEA;}
.bCyan.t300{background: #4DD0E1;}
.bCyan.t400{background: #26C6DA;}
.bCyan, 
.bCyan.t500{background: #00BCD4;}
.bCyan.t600{background: #00ACC1;}
.bCyan.t700{background: #0097A7;}
.bCyan.t800{background: #00838F;}
.bCyan.t900{background: #006064;}

.bTeal.t50{background: #E0F2F1;}
.bTeal.t100{background: #B2DFDB;}
.bTeal.t200{background: #80CBC4;}
.bTeal.t300{background: #4DB6AC;}
.bTeal.t400{background: #26A69A;}
.bTeal, 
.bTeal.t500{background: #009688;}
.bTeal.t600{background: #00897B;}
.bTeal.t700{background: #00796B;}
.bTeal.t800{background: #00695C;}
.bTeal.t900{background: #004D40;}

.bGreen.t50{background: #E8F5E9;}
.bGreen.t100{background: #C8E6C9;}
.bGreen.t200{background: #A5D6A7;}
.bGreen.t300{background: #81C784;}
.bGreen.t400{background: #66BB6A;}
.bGreen, 
.bGreen.t500{background: #4CAF50;}
.bGreen.t600{background: #43A047;}
.bGreen.t700{background: #388E3C;}
.bGreen.t800{background: #2E7D32;}
.bGreen.t900{background: #1B5E20;}

.bLightGreen.t50{background: #F1F8E9;}
.bLightGreen.t100{background: #DCEDC8;}
.bLightGreen.t200{background: #C5E1A5;}
.bLightGreen.t300{background: #AED581;}
.bLightGreen.t400{background: #9CCC65;}
.bLightGreen, 
.bLightGreen.t500{background: #8BC34A;}
.bLightGreen.t600{background: #7CB342;}
.bLightGreen.t700{background: #689F38;}
.bLightGreen.t800{background: #558B2F;}
.bLightGreen.t900{background: #33691E;}

.bLime.t50{background: #F9FBE7;}
.bLime.t100{background: #F0F4C3;}
.bLime.t200{background: #E6EE9C;}
.bLime.t300{background: #DCE775;}
.bLime.t400{background: #D4E157;}
.bLime, 
.bLime.t500{background: #CDDC39;}
.bLime.t600{background: #C0CA33;}
.bLime.t700{background: #AFB42B;}
.bLime.t800{background: #9E9D24;}
.bLime.t900{background: #827717;}

.bYellow.t50{background: #FFFDE7;}
.bYellow.t100{background: #FFF9C4;}
.bYellow.t200{background: #FFF59D;}
.bYellow.t300{background: #FFF176;}
.bYellow.t400{background: #FFEE58;}
.bYellow, 
.bYellow.t500{background: #FFEB3B;}
.bYellow.t600{background: #FDD835;}
.bYellow.t700{background: #FBC02D;}
.bYellow.t800{background: #F9A825;}
.bYellow.t900{background: #F57F17;}

.bAmber.t50{background: #FFF8E1;}
.bAmber.t100{background: #FFECB3;}
.bAmber.t200{background: #FFE082;}
.bAmber.t300{background: #FFD54F;}
.bAmber.t400{background: #FFCA28;}
.bAmber, 
.bAmber.t500{background: #FFC107;}
.bAmber.t600{background: #FFB300;}
.bAmber.t700{background: #FFA000;}
.bAmber.t800{background: #FF8F00;}
.bAmber.t900{background: #FF6F00;}

.bOrange.t50{background: #FFF3E0;}
.bOrange.t100{background: #FFE0B2;}
.bOrange.t200{background: #FFCC80;}
.bOrange.t300{background: #FFB74D;}
.bOrange.t400{background: #FFA726;}
.bOrange, 
.bOrange.t500{background: #FF9800;}
.bOrange.t600{background: #FB8C00;}
.bOrange.t700{background: #F57C00;}
.bOrange.t800{background: #EF6C00;}
.bOrange.t900{background: #E65100;}

.bDeepOrange.t50{background: #FBE9E7;}
.bDeepOrange.t100{background: #FFCCBC;}
.bDeepOrange.t200{background: #FFAB91;}
.bDeepOrange.t300{background: #FF8A65;}
.bDeepOrange.t400{background: #FF7043;}
.bDeepOrange, 
.bDeepOrange.t500{background: #FF5722;}
.bDeepOrange.t600{background: #F4511E;}
.bDeepOrange.t700{background: #E64A19;}
.bDeepOrange.t800{background: #D84315;}
.bDeepOrange.t900{background: #BF360C;}

.bBrown.t50{background: #EFEBE9;}
.bBrown.t100{background: #D7CCC8;}
.bBrown.t200{background: #BCAAA4;}
.bBrown.t300{background: #A1887F;}
.bBrown.t400{background: #8D6E63;}
.bBrown, 
.bBrown.t500{background: #795548;}
.bBrown.t600{background: #6D4C41;}
.bBrown.t700{background: #5D4037;}
.bBrown.t800{background: #4E342E;}
.bBrown.t900{background: #3E2723;}

.bGray.t50{background: #FAFAFA;}
.bGray.t100{background: #F5F5F5;}
.bGray.t200{background: #EEEEEE;}
.bGray.t300{background: #E0E0E0;}
.bGray.t400{background: #BDBDBD;}
.bGray, 
.bGray.t500{background: #9E9E9E;}
.bGray.t600{background: #757575;}
.bGray.t700{background: #616161;}
.bGray.t800{background: #424242;}
.bGray.t900{background: #212121;}

.bBlueGrey.t50{background: #ECEFF1;}
.bBlueGrey.t100{background: #CFD8DC;}
.bBlueGrey.t200{background: #B0BEC5;}
.bBlueGrey.t300{background: #90A4AE;}
.bBlueGrey.t400{background: #78909C;}
.bBlueGrey, 
.bBlueGrey.t500{background: #607D8B;}
.bBlueGrey.t600{background: #546E7A;}
.bBlueGrey.t700{background: #455A64;}
.bBlueGrey.t800{background: #37474F;}
.bBlueGrey.t900{background: #263238;}


.bWhite, .t50, .t100, .t200, .t300,
.bLime.t400, .bLime.t500,
.bAmber.t400, .bAmber.t500,
.bYellow.t400, .bYellow.t500, .bYellow.t600{color: #202020;}
.bBlack, .t400, .t500, .t600, .t700, .t800, .t900{color: #fff;}
 
.h100 .content{min-height: 100vh;}
.content{max-width: 1800px; width: 100%; display: table; table-layout: fixed; margin: 0 auto;}
.wrap{padding: 5.5vh 5vw; display: table-cell; vertical-align: middle;}
.wrap > *:first-child{margin-top: 0;}

.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}



.demoCol{position: relative;}
.demoCol:before{content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0;/*padding: 5px;*/ background: rgba(0, 0, 0, 0.15); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset; /*font-size: 10px;*/}

.demoBorderGrid [class^='col-']>div{position: relative;}
.demoBorderGrid [class^='col-']>div:after{content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0;/*padding: 5px;*/ box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;}

