// Paths
$img:		"../img/";		// img folder
$fonts:		"../fonts/";	// fonts folder

// color
$White:		"#fff";
$Black:		"#000";

// base font
$main-font-size:				16px !default;
$main-line-height:				1.6 !default;
$main-font-family-google:		'Roboto' !default;
$main-font-family:				$main-font-family-google, sans-serif !default;

// font weight
$font-weight-thin:			100 !default; 	// 100
$font-weight-light:			300 !default;	// 300
$font-weight-regular:		400 !default;	// 400
$font-weight-medium:		500 !default;	// 500
$font-weight-bold:			700 !default;	// 700
$font-weight-black:			900 !default;	// 900

//WIDTH UP
$laptop-u: 2560px; 	// ultra hd (4k)
$laptop-l: 1440px;	// desktop long
$laptop-m: 1280px;	// desktop
$laptop-s: 1024px;	// desktop small
$tablet-l: 800px;	// tablet long
$tablet-m: 768px;	// tablet
$tablet-s: 600px;	// tablet small
$mobile-l: 425px;	// mobile long
$mobile-m: 375px;	// mobile middle
$mobile-s: 320px;	// mobile small

// Grid columns
$grid-columns:				12 !default;
$grid-gutter-width-fix:		30px !default;
$grid-gutter-width:			1.805% !default;

$main-max-width:			$laptop-l;


